// BUTTONS

.btn
	display inline-block
	cursor pointer
	font-size 0.95rem
	padding 6px 12px
	line-height 1.42857143

// BUTTON TYPES

.btn-default
	color body
	background-color primary
	&:hover
		background-color text

// BUTTON SIZES

.btn-sm
	padding 5px 10px
	font-size 0.8rem
	line-height 1.5
	border-radius 3px
.btn-lg
	padding 10px 16px
	font-size 1.15rem
	line-height 1.3333333
	border-radius 6px