// FOOTER

footer
	&.footer
		// width 100%
		padding 4rem 0 6rem
		display flex
		justify-content center
		text-align center
		p
			margin-bottom 0.5rem

+desktop()
	footer
		&.footer
			width 100%
			p
				margin-bottom 0.5rem