// HEADER

body
  &.seeds-toolbar
    #header
      &.header
        left 55px
  #header
    &.header
      width auto
      height auto
      top 8px
      right 0
      left 0

// +desktop()
+above('l')
  body
    #header
      &.header
        position fixed
        width 200px
        height 100vh
        overflow scroll
        overflow-y auto
        overflow-x hidden
