// HERO

body
	&.page-front
		#hero
			&.hero
				height 100vh

#hero
	&.hero
		// border-bottom 4px solid #efefef
		// text-align center
		width 100%
		display flex
		flex-flow column wrap
		justify-content center
		h1
			// font-size 4.5rem
		h2
			&.sub-title
				// font-size 3rem
		p
			// font-size 1.65rem

// @media (max-width $screen-sm-max)
+tablet()
	#hero
		&.hero
			// margin-bottom 1rem
			margin-top 82px
			h1
				// font-size 3.5rem
			h2
				&.sub-title
					// font-size 1.5rem
			p
				// font-size 1.25rem
				// padding 0 5%
			h1,
			h2,
			p
				padding-left 3rem
				padding-right 3rem
				text-align center
				width auto
				span
					// line-height 1

// @media (min-width $screen-md-min)
+desktop()
	#hero
		&.hero
			// margin-bottom 3rem
			h1
				span
					// line-height 1

// @media (max-width $screen-sm-max) and (max-height $screen-sm-min)
// 	#hero
// 		&.hero
// 			h1
// 				&.page-title
// 					margin-top 1rem

// @media (min-width $screen-md-min) and (max-height $screen-sm-min)
// 	#hero
// 		&.hero
// 			h1
// 				font-size 3.5rem
// 			h2
// 				&.sub-title
// 					font-size 1.5rem
