// SOCIAL LINKS

ul
	list-style none
	&.menu-social
		&.social-icons
			display flex
			justify-content center
			align-items center
			a
				text-decoration none
				transition 0.6s
				&.fa
					font-size 1.35rem
					padding 0.5rem
					color primary-light
					background-color primary
					border-radius 50%
					margin 0 4px
					width 36px
					height 36px
					line-height 1.4
					text-align center
				&:hover
					&.fa
						background-color text