// SPOTLIGHT

.spotlight
	.field-type-image
// 		border-radius 50%
// 		overflow hidden
// 		width 200px
// 		height 200px
// 		margin 0 auto 1rem
// 		position relative

+between('xs', 'm')
	.spotlight
		h1
			margin-bottom 1.5rem
		h2
			margin-bottom 2rem
		.field-type-image
			img
// 				left 0
// 				margin-left -8.5rem
// 				width 180%

+above('m')
	.spotlight
		text-align center
		//h1,
		//h2
		//	margin-bottom 12px
		.field-type-image
			img
// 				position absolute
// 				width 180%
				+above('l')
// 					left -5.5rem