// SPOTLIGHT

.spotlight
	.avatar
			width 26vh
// 		border-radius 50%
// 		overflow hidden
// 		height 200px
// 		margin 0 auto 1rem
// 		position relative

+between('xs', 'm')
	.spotlight
		h1
			margin-bottom 1.5rem
		h2
			margin-bottom 2rem
// 		.avatar
// 			width 40vw
// 			img
// 				width 180
// 				left 0
// 				margin-left -8.5rem

+above('m')
	.spotlight
		text-align center
		//h1,
		//h2
		//	margin-bottom 12px
// 		.avatar
// 			width 20vw
// 			img
// 				width 180%
// 				position absolute
// 				+above('l')
// 					left -5.5rem