// HOME

body
	&.page-front
		#hero
			&.hero
				height 100vh
				justify-content center
				align-items center
				margin-top 0
				.region-hero
					height 100vh
					justify-content center
					#block-meimage
						margin-bottom 1rem
					#block-metext
						display flex
						flex-flow column wrap
						align-items center