// LOGIN FORM

#main-wrapper
	#login-wrapper
		display flex
		width 100%
		height 100vh
		justify-content center
		align-content baseline
		flex-direction row
		flex-wrap wrap
		padding-top 100px
		#login-container
			width 35%
			#top_part
				display flex
				justify-content center
				h1
					&#the_logo
						padding 0
						width 25%
						height auto
			// .password_link,
			// .login_link
				
	#login_box
		input[type="text"],
		input[type="password"]
			width 100%
			border 1px #ccc solid
			border-radius 2px
			padding 9px
			font-size 15px
	#login_main_part,
	#regi_main_part
		padding 0
		box-shadow 0 0 0 0 transparent
		margin 1rem 0

+between('m', 'l')
	#main-wrapper
		#login-wrapper
			align-content baseline
			#login-container
				width 50%
				
// @media (max-width $screen-sm-max)
// +above('m')
+between('xs', 'm')
	#main-wrapper
		#login-wrapper
			align-content baseline
			#login-container
				width 90%
				padding 20px
		#login_box
			width 100%
			padding 50px 4%