// COLORS

// BASE
body = #ffffff
text = #3b3b3b
primary = #ff6f00
primary-light = #ffb875
primary-dark = #000000
secondary = #0091ff
secondary-light = #78beff
secondary-dark = #084285

// MENU
menu-1 = #454545
menu-2 = #353535

// FOOTER
footer = #252525
footer-bg = #ffffff
footer-menu-link = #ffffff
footer-menu-link-hover = #ffae00
footer-info = #aaaaaa

// MESSAGES
status = #e8f5e9
status-text = #388e3c
status-link = #2e7d32
status-link-hover = #2a722e
status-link-active = #266729

warning = #fffde7
warning-text = #fbc02d
warning-link = #f57f17
warning-link-hover = #f2770a
warning-link-active = #e4700a

error = #ffebee
error-text = #d32f2f
error-link = #b71c1c
error-link-hover = #aa1a1a
error-link-active = #9c1818