// BRANDING

.block-branding
	display flex

+tablet()
	.block-branding
		align-items center
		flex-flow row wrap
		float left
		padding 12px
		a
			&.site-logo
				height 50px
			&.site-name
				margin 0 8.5px

+desktop()
	.block-branding
		flex-direction column
		align-items center
		justify-content center
		// padding 38px 25px 15px
		width 200px
		height 200px
		a
			&.site-name
				display none

// @media (min-width $screen-md-min) and (max-height $screen-sm-min)
// +tablet(orientation: landscape)
// 	.block-branding
// 		width 200px
// 		height auto
// 		display flex
// 		align-items flex-start
