// BRANDING

.block-branding
	align-items center
	display flex
	flex-flow row wrap
	float left
	padding 12px
	a
		&.site-name
			margin 0 8.5px

// @media (min-width: $screen-md-min)
// 	.block-branding
// 		flex-direction: column
// 		align-items: center
// 		justify-content: center
// 		padding: 38px 25px 15px
// 		width: 200px
// 		height: 200px
// 		a
// 			&.site-name
// 				visibility: hidden

// @media (min-width: $screen-md-min) and (max-height: $screen-sm-min)
// 	.block-branding
// 		width: 200px
// 		height: auto
// 		display: flex
// 		align-items: flex-start
		