// FORMS

.form-item
	input,
	textarea
		background-color text-lighter
		border-top 0
		border-right 0
		border-left 0
		border-bottom 1px solid text-light
		color text-light
		box-sizing border-box
		padding-top 10px
		width 100%

.form-actions
	display flex
	align-items center
	input
		margin-bottom 0