// NODE

.node
	margin-bottom 3.5rem
  .align-left
    margin-right 1rem
    margin-top 0.5rem

+between('xs', 'm')
  .node
    .align-left
      margin-right 0
      margin-top 0
      float none

+between('xs', 's')
	.node
		margin-bottom 2rem
//
//+between('xs', 'm')
//	.node
//    .align-left
//      margin-right 0
//      margin-top 0
//      float none
